################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Sentinel/v15
/packages
/Sentinel/bin
/Sentinel/obj
/SentinelApp/bin
/SentinelApp/obj
/SentinelData/bin/Debug
/SentinelData/obj/Debug
